/* Fonts */

.auth-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f5f7f2;
}

.auth-page .left {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: '100vh';
  background-color: #245e82;
  align-items: center;
  justify-content: center;
}

.auth-page .left img {
  width: 40%;
  border-radius: 35%;
  box-shadow: 0 2px 3px 2px #00000069;
}

.auth-page .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: '100vh';
}

.auth-title {
  color: #0b1d31;
}

.auth-form {
  display: flex;
  width: 70%;
  max-width: 450px;
  flex-direction: column;
}

.auth-button {
  align-self: center;
  height: 40px;
  width: 200px;
  margin-bottom: 10px;
  background-color: #245e82;
  border-color: #245e82;
}